classify_sound_file/backups
classify_sound_file/cache
classify_sound_file/__pycache__
classify_sound_file/fileList.txt
classify_sound_file/fileList.txt
classify_sound_file/AtlusScriptCompiler.log
classify_sound_file/msgMap*
classify_sound_file/soundMap*
classify_sound_file/unmatch*
classify_sound_file/.vscode/tasks.json
classify_sound_file/.vscode/launch.json
classify_sound_file/speaker_id.json
classify_sound_file/scripts/__pycache__/
classify_sound_file_paddle_speech/__pycache__/*
classify_sound_file_paddle_speech/cache
classify_sound_file_paddle_speech/use-this-to-test-paddlespeech-install/123456789.wav
classify_sound_file_paddle_speech/use-this-to-test-paddlespeech-install/85236145389.wav
classify_sound_file_paddle_speech/.vscode/
classify_sound_file_damo-3d-speaker/pretrained
classify_sound_file_p3p/cache/*
classify_sound_file_p3p/cropped/*
classify_sound_file_p3p/AtlusScriptCompiler.log
classify_sound_file_p3p/font0.png
