cache
cpk_output_workplace
tmp
pq1
3dstool/*.exe
3dstool/*.3ds
3dstool/cci
3dstool/ext_key.txt
3dstool/ignore_3dstool.txt
AtlusScriptCompiler.log
*.bcfnt
*.tsv
*.xllt
*.xlor
*.7z
ai_translate/__pycache__
ai_translate/openai_api_ket.py
pq(2) 事件文本汉化20240420.pdf
/test_run_on_raspi/*
msg_-ai_transl.json
msg_-ai_transl-parts.json
msg_-ai_transl-parts-zh.json
ai_translate/draft_msg/event_msg_map-for_ai_transl.json
ai_translate/output-openai
event_msg_map-jp.json
zh/build_fake_charset/cropped
zh/build_fake_charset/pq2*
*.lnk
3dstool/pq2-event_only-gpt_3.5_turbo_0125-20240429.zip
zh/init/cmptable_bin/zh
zh/init/cmptable_bin/jp
zh/__pycache__
zh/init/cmptable_bin/rebuild
zh/init/cmptable_bin/*.json
zh/init/cmptable_bin/__pycache__
zh/event/txt/*.json
3dstool/__pycache__
del/event/*
zh/event/*.json
zh/event/*.txt
zh/battle/message/*.json
zh/battle/message/__pycache__
zh/charset/*-JpKanji2zhChar.json
zh/charset/*-zhChar2JpKanji.json
zh/charset/*.txt
zh/tutorial/scr/*.json
